.modal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .modal-content {
    padding: 5px;
    display: flex;
    flex: 1;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
  }
  .actions {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25.6px;
    margin-bottom: 20px;
  }
}

@import '@shadow/components/alert/style.module.scss';
