@font-face {
  font-family: 'Baloo Bhai 2';
  src: url('./fonts/BalooBhai2-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoCondensed-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Alternate';
  src: url('./fonts/DIN_Alternate_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Baloo Bhai Medium';
  src:url('./fonts/BalooBhai2-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}