.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 34px;
  margin-left: 20px;
  margin-right: 20px;
}
.item-icon {
  width: 98px;
  height: 79px;
  margin: 30px 0 10px;
}
.item-box {
  width: 455px;
  margin: 0 auto 25px;
}
.item-content {
  font-family: 'PingFang SC';
  color: #c28c57;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 18px;
}
.item-divider {
  width: 100%;
  height: 1px;
  background-color: #efca81;
  margin: 14px 0;
}
.item-tips {
  color: #eb212d;
  font-size: 16px;
  height: 20px;
  overflow-y: auto;
  >span{
    word-wrap: break-word;
    word-break: break-all;
  }
}
@import '@shadow/pages/kyc/suggest-kyc/style.module.scss';