.account{
  width: 100%;
}
.bind{
  padding: 15px;
  .back{
    color: #3E881B;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: none;
    line-height: 28px;
    display: flex;
    align-items: center;
    padding: 0;
    .back-icon{
      width: 28px;
      height: 28px;
      margin-right: 10px;
      display: inline-block;
    }
  }
  .content{
    margin-top: 20px;
    margin-bottom: 20px;
    .title{
      color: #9F5D1C;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .phone-code{
      color: #FFE7B9;
      margin-right: 19px;
    }
  }
  .content-code{
    margin-bottom: 30px;
    .send-code{
      color: #9F5D1C;
      margin-right: -5px;
      width: 76px;
      height: 34px;
      line-height: 34px;
      background: linear-gradient(180deg, #FFF6CA 0%, #FFED9D 100%);
      border-radius: 20px;
      text-align: center;
    }
  }
  .button{
    margin-left: 57px;
  }
}
.list{
  padding: 15px;
  height: 233px;
  overflow-y: auto;
  .content{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .item-bg{
      padding: 10px;
      width: 163px;
      height: 74px;
    }
    .item-title{
      color: #C28C57;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      margin-bottom: 10px;
    }
    .bank-icon{
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    .number{
      color: #9F5D1C;
      font-size: 16px;
      font-weight: 700;
    }
    .button{
      background: transparent;
      border: none;
    }
    .add-bg{
      width: 187px;
      height: 98px;
      text-align: center;
    }
    .add-icon{
      margin: 16px 0 8px;
      width: 28px;
      height: 28px;
    }
    .add-title{
      color: #9F5D1C;
      font-size: 14px;
    }

  }
  .tips{
    color: #C28C57;
    font-size: 12px;
    margin-top: 10px;
  }
}
@import '@shadow/pages/account/gcash/style.module.scss';