


.conter{
  display: flex;
  height: 100%;
  overflow: auto;
  .list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 408px;
    .wrap{
      list-style: none;
      width: 90px;
      height: 90px;
      margin: 0 5px 5px 5px;
      border-radius: 5px;
      border: 1px solid #6F2B0333;
    }
  }

}
